*{
    box-sizing: border-box;
    margin: 0;
}
/* ==>Mobile view==< */

.section1 {
    width: 100%;
    height: 33.33vh;
}
.section2 {
    width: 100%;
    height: 38vh;
    background-color: rgb(47, 177, 177);
}
.section3 {
    width: 100%;
    height: 38vh;
    background-color: rgb(47, 204, 204);
}
.p1 {
   font-size: 25px;
   font-weight: bold;
   color: rgb(88, 219, 219);
   padding-top: 15px;
   padding-left: 35px;
   padding-bottom: 15px;
   font-family: "karla";
}
.p2 {
   font-size: 20px;
   font-weight: bold;
   font-family: "karla";
   padding-left: 35px;
   color: greenyellow;
}
.p3 {
   font-size: 15px;
   font-family: "karla";
   color: grey;
   padding-left: 35px;
   padding-top: 5px;
}
.p4 {
   font-size: 20px;
   color: white;
   padding-left: 35px;
   padding-top: 20px;
   padding-bottom: 20px;
   font-family: "karla";
}
.sp1 {
   font-size: 30px;
   font-weight: bold;
   padding-left: 35px;
   color: floralwhite;
   padding-top: 10px;
   font-family: "karla";
}
.sp2 {
   font-size: 20px;
   color: rgba(225, 255, 255, 0.836);
   padding-left: 10px;
   font-family: "karla";
}
.p5 {
   font-size: 20px;
   color: rgba(225, 255, 255, 0.836);
   padding-left: 35px;
   font-family: "karla";
}
.button1 {
   color: floralwhite;
   padding-right: 120px;
   padding-top: 10px;
   padding-left: 120px;
   background-color: greenyellow;
   padding-bottom: 10px;
   font-size: 20px;
   border-radius: 10px;
   border-color: greenyellow;
   margin-left: 40px;
}

.p6 {
   font-size: 15px;
   padding-left: 35px;
   color: white;
   padding-top: 20px;
   font-family: "karla";
}
.p7 {
   font-size: 15px;
   padding-left: 35px;
   color: rgba(225, 255, 255, 0.836);
   font-family: "karla";
}

/* Desktop view */

@media screen and (min-width: 500px) {
   .section1, .section2, .section3, .p1, .p2, .p3, .p4, .p5, .p6, .p7, .sp1, .sp2, .division, .button1 {
       display: none;
   }
}



@media screen and (max-width: 499px) {
   .heading1, .heading2, .heading3, .paragraph1, .paragraph2, .paragraph3, .paragraph4, .span1, .span2, .button, .section11, .section12, .head {
       display: none;
   }
}

.heading1 {
   color:rgb(88, 219, 219);
   font-size: 30px;
   font-family: "karla";
   padding-top: 25px;
   padding-left: 24px;

}
.heading2 {
   color: greenyellow;
   padding-left: 24px;
   font-family: "karla";
   font-size: 19px;
}
.heading3 {
   font-size: 20px;
   padding-left: 35px;
   color: white;
   padding-top: 20px;
   font-family: "karla";
}

.paragraph1 {
   color: lightgrey;
   padding-left: 24px;
   font-family: "karla";
   font-size: 20px;

}
.head {
   width: 100%;
   height: 33.33vh;
}
.section11 {
   width: 100%;
   height: 33.33vh;
   background-color: rgb(47, 177, 177);

}
.section12 {
   width: 100%;
   height: 33.33vh;
   background-color: rgb(47, 204, 204);
}
.paragraph2 {
   font-size: 20px;
   color: white;
   padding-left: 35px;
   padding-top: 20px;
   padding-bottom: 20px;
   font-family: "karla";
}
.paragraph3 {
   font-size: 20px;
   color: rgba(225, 255, 255, 0.836);
   padding-left: 35px;
   font-family: "karla";
}
.paragraph4 {
   font-size: 20px;
   padding-left: 35px;
   color: rgba(225, 255, 255, 0.836);
   font-family: "karla";

}
.span1 {
   font-size: 30px;
   font-weight: bold;
   padding-left: 35px;
   color: floralwhite;
   padding-top: 5px;
   font-family: "karla";
}
.span2 {
   font-size: 20px;
   color:rgba(225, 255, 255, 0.836); 
   padding-left: 10px;
   font-family: "karla";
}
.button {
   color: white;
   padding-right: 120px;
   padding-top: 3px;
   padding-left: 120px;
   background-color: greenyellow;
   padding-bottom: 3px;
   font-size: 20px;
   border-radius: 10px;
   border-color: greenyellow;
   margin-left: 40px;
}